# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
env/
.venv/

# VSCode or IDE stuff
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs and temp files
*.log
*.tmp
*.swp

# Secrets (AWS keys, config files)
*.env
aws_credentials.json
